{% extends 'home.html'%}
{% block conteudo %}

<style>
    .btn-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Alinha os botões ao centro */
    }

    .btn-container .btn {
        margin: 5px; /* Adiciona margem entre os botões */
    }
</style>

<div class="container-fluid">
    <h1>Endereçamento Livre</h1>

    <div class="btn-container">
        {% for endereco in endereco_ip %}
            <button type="button" class="btn btn-outline-success" >
                {{ endereco.ip }}
            </button>
        {% endfor %}
    </div>
</div>

{% endblock %}