{% extends 'base.html' %}
{% block conteudo %}

<style>
    .card-column {
        margin: 20px 0;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 card-column">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Dispositivos Ativos</h5>
                    <p class="card-text">{{ endereco }} Equipamentos</p>
                    <a href="/monitoramento" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 card-column">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Barramentos IP</h5>
                    <p class="card-text">{{ bloco }} Blocos IP configurado</p>
                    <a href="/admin/apptcc/scanner" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
